.left {
  position: absolute;
  left: 0;
  animation: move-right 2s ease-in-out infinite;
}

.right {
  position: absolute;
  left: 0;
  animation: move-left 2s ease-in-out infinite;
}

@keyframes move-right {
  0% {
    right: 0%;
  }
  100% {
    left: calc(40%);
  }
}

@keyframes move-left {
  0% {
    left: 90%;
  }
  100% {
    left: calc(50%);
  }
}
